In [1]:
import arviz as az
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pymc as pm
import bambi as bmb
import seaborn as sns

# Chapter 18 examples

In [2]:
climbers = pd.read_csv("climbers.csv")
climbers.head()

,expedition_id,member_id,success,year,season,age,expedition_role,oxygen_used
0,AMAD81101,AMAD81101-03,True,1981,Spring,28,Climber,False
1,AMAD81101,AMAD81101-04,True,1981,Spring,27,Exp Doctor,False
2,AMAD81101,AMAD81101-02,True,1981,Spring,35,Deputy Leader,False
3,AMAD81101,AMAD81101-05,True,1981,Spring,37,Climber,False
4,AMAD81101,AMAD81101-06,True,1981,Spring,43,Climber,False

In [15]:
total = climbers.shape[0]
total

2076

In [17]:
climbers[['success','member_id']].groupby('success').count().assign(percent = lambda x: x.member_id/total).rename(columns = {'member_id':'count'})

         count   percent
success
False     1269  0.611272
True       807  0.388728